In [1]:
import csv 
import MySQLdb
import pandas as pd

In [2]:
import MySQLdb

# MySQL Connection
mydb = MySQLdb.connect(
    host='localhost',
    user='root',
    passwd='James@0405',
    db='london_properties',
    local_infile=1  # Enable local file loading
)
cursor = mydb.cursor()

# Load CSV directly into MySQL
query = """
    LOAD DATA LOCAL INFILE 'london_flats.csv'
    INTO TABLE properties
    FIELDS TERMINATED BY ',' 
    ENCLOSED BY '"' 
    LINES TERMINATED BY '\n'
    IGNORE 1 ROWS;
"""
cursor.execute(query)
mydb.commit()

cursor.close()
mydb.close()

print("Done! ðŸš€")

Done! ðŸš€

In [5]:
import MySQLdb

# MySQL Connection
mydb = MySQLdb.connect(
    host='localhost',
    user='root',
    passwd='James@0405',
    db='london_properties',
    local_infile=1  # Enable local file loading
)
cursor = mydb.cursor()

# Load CSV directly into MySQL
query = """
    LOAD DATA LOCAL INFILE 'crime_data.csv'
    INTO TABLE crime
    FIELDS TERMINATED BY ',' 
    ENCLOSED BY '"' 
    LINES TERMINATED BY '\n'
    IGNORE 1 ROWS;
"""
cursor.execute(query)
mydb.commit()

cursor.close()
mydb.close()

print("Done! ðŸš€")

Done! ðŸš€

In [6]:
import MySQLdb

# MySQL Connection
mydb = MySQLdb.connect(
    host='localhost',
    user='root',
    passwd='James@0405',
    db='london_properties',
    local_infile=1  # Enable local file loading
)
cursor = mydb.cursor()

# Load CSV directly into MySQL
query = """
    LOAD DATA LOCAL INFILE 'stations.csv'
    INTO TABLE tubes
    FIELDS TERMINATED BY ',' 
    ENCLOSED BY '"' 
    LINES TERMINATED BY '\n'
    IGNORE 1 ROWS;
"""
cursor.execute(query)
mydb.commit()

cursor.close()
mydb.close()

In [3]:
import MySQLdb

# MySQL Connection
mydb = MySQLdb.connect(
    host='localhost',
    user='root',
    passwd='James@0405',
    db='london_properties',
    local_infile=1  # Enable local file loading
)
cursor = mydb.cursor()

# Load CSV directly into MySQL
query = """
    LOAD DATA LOCAL INFILE 'amenities.csv'
    INTO TABLE amenities
    FIELDS TERMINATED BY ',' 
    ENCLOSED BY '"' 
    LINES TERMINATED BY '\n'
    IGNORE 1 ROWS;
"""
cursor.execute(query)
mydb.commit()

cursor.close()
mydb.close()

In [4]:
properties_df = pd.read_csv(r'C:\Users\mrice\OneDrive\Documents\Data Science - Callum\Projects\Financial Projects\london_house_prices\london_flats.csv')
amen_df = pd.read_csv(r'C:\Users\mrice\OneDrive\Documents\Data Science - Callum\Projects\Financial Projects\london_house_prices\amenities.csv')

mix_df = pd.merge(properties_df, amen_df, on = 'property_id', how='left')
print(mix_df)

                                   address  price  \
0              Merchant Square, Paddington   9966
1                     Grove Avenue, Sutton   1675
2          Wilberforce Road, Finsbury Park   2500
3              Strathmore Court, Park Road   8790
4                     Graveney Road London   2650
...                                    ...    ...
1043  One Park Drive, Canary Wharf, London   3800
1044    Kensington High Street, Kensington   1777
1045          Ansleigh Place, Notting Hill   8996
1046           Cleveland Square, Bayswater   3792
1047           Cleveland Square, Bayswater   3792

                                            description  bedrooms  bathrooms  \
0     A stunning interior designed apartment with wa...         4          3
1     **AVAILABLE APRIL**Leaders are pleased to offe...         2          1
2     This rather beautiful first floor maisonette w...         2          1
3     Spacious six bedroom apartment set over 2553 s...         6          2
4     A spacious three double bedroom house offering...         3          1
...                                                 ...       ...        ...
1043  ** Available Now ** Experience luxury living i...         1          1
1044  ** Landlord pay for the gas central heating/ho...         0          1
1045  A spectacular three-bedroom architect designed...         3          3
1046  A modern and well presented top floor two bedr...         2          2
1047  A modern and well presented top floor two bedr...         2          2

      latitude_x  longitude_x postcode                       property_id  \
0      51.518926    -0.173068       W2  c03d82e0169b9646f9628c766a820a96
1      51.359806    -0.201280  SM1 2DA  0eaca9c01a72e47b55656d34229fbbf1
2      51.564169    -0.100908   N4 2SN  0e91ce654b6fd59d84c47e7c66fcb6ad
3      51.529622    -0.167885      NW8  6afcfb6a633839bcb514e31960abbe15
4      51.429787    -0.170103     SW17  45112861947e9869c0cff0d2b041d13b
...          ...          ...      ...                               ...
1043   51.502277    -0.015116      E14  439595d7e8259e368b64d5cb06a3a60a
1044   51.499467    -0.197301       W8  19cd1f1ec1bdcab9551e17b17768c270
1045   51.511388    -0.216614      W11  f097356ceac5c44860af0dc4dee9f915
1046   51.514251    -0.182495   W2 6DT  4e85d09779c4d6c9c6cebe5e50acfc17
1047   51.514251    -0.182495   W2 6DT  4e85d09779c4d6c9c6cebe5e50acfc17

      latitude_y  longitude_y                         park  \
0      51.518926    -0.173068              Italian Gardens
1      51.359806    -0.201280                 Overton Park
2      51.564169    -0.100908                Clissold Park
3      51.529622    -0.167885            The Regent's Park
4      51.429787    -0.170103      Fishponds Playing Field
...          ...          ...                          ...
1043   51.502277    -0.015116  Crossrail Place Roof Garden
1044   51.499467    -0.197301                 Holland Park
1045   51.511388    -0.216614                Avondale Park
1046   51.514251    -0.182495           Kensington Gardens
1047   51.514251    -0.182495           Kensington Gardens

                                  gym                    shop
0              Royal Lancaster London                    ALDI
1         PureGym Sutton Times Square  Asda Sutton Superstore
2               Sobell Leisure Centre        Tesco Superstore
3               1Rebel St John's Wood                    ALDI
4              Tooting Leisure Centre             Sainsbury's
...                               ...                     ...
1043         Third Space Canary Wharf     Waitrose & Partners
1044           David Lloyd Kensington        Tesco Superstore
1045  Westway Sports & Fitness Centre                    Lidl
1046           Royal Lancaster London     Waitrose & Partners
1047           Royal Lancaster London     Waitrose & Partners

[1048 rows x 14 columns]