In [2]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import numpy as np
import hashlib

In [3]:
# Scraping script
base_url = "https://www.rightmove.co.uk/property-to-rent/find.html?searchLocation=London&useLocationIdentifier=true&locationIdentifier=REGION%5E87490&rent=To+rent&radius=0.0&_includeLetAgreed=on&includeLetAgreed=false&index="
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
    "Accept-Language": "en-GB,en;q=0.9",
    "Referer": "https://www.google.com/",
    "Connection": "keep-alive",
}

addresses = []
prices = []
descriptions = []
bedrooms = []
bathrooms = []

for page_number in range(0, 84):  # 84 pages
    url = base_url + str(page_number * 24)  # Rightmove paginates in multiples of 24
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.text, "html.parser")

    listings_section = soup.find("section", class_="ResultsList_resultsSection__MVSi7")
    property_cards = listings_section.find_all("div", class_="PropertyCard_propertyCardContainer__VSRSA") if listings_section else []

    for card in property_cards:
        # Scrap address
        address_tag = card.find("address")
        address = address_tag.get_text(strip=True) if address_tag else "No address found"
        addresses.append(address)

        # Scrape price
        price_tag = card.find("div", class_="PropertyPrice_price__VL65t")
        price = price_tag.get_text(strip=True) if price_tag else "No price found"
        prices.append(price)

        # Scrape description
        desc_tag = card.find("p", class_="PropertyCardSummary_summary__oIv57")
        description = desc_tag.get_text(strip=True) if desc_tag else "No description found"
        descriptions.append(description)

        #Scarpe bed count
        bed_tag = card.find("div", class_="PropertyInformation_bedContainer___rN7d")
        bed_count = bed_tag.find("span").get_text(strip=True) if bed_tag else "0"
        bedrooms.append(bed_count)

        # Scrape bathroom count
        bath_tag = card.find("div", class_="PropertyInformation_bathContainer__ut8VY")
        bath_count = bath_tag.find("span").get_text(strip=True) if bath_tag else "0"
        bathrooms.append(bath_count)

    print(f"Scraped {len(addresses)} listings so far")

Scraped 24 listings so far
Scraped 48 listings so far
Scraped 72 listings so far
Scraped 96 listings so far
Scraped 120 listings so far
Scraped 144 listings so far
Scraped 168 listings so far
Scraped 192 listings so far
Scraped 216 listings so far
Scraped 240 listings so far
Scraped 264 listings so far
Scraped 288 listings so far
Scraped 312 listings so far
Scraped 336 listings so far
Scraped 360 listings so far
Scraped 384 listings so far
Scraped 408 listings so far
Scraped 432 listings so far
Scraped 456 listings so far
Scraped 480 listings so far
Scraped 504 listings so far
Scraped 528 listings so far
Scraped 552 listings so far
Scraped 576 listings so far
Scraped 600 listings so far
Scraped 624 listings so far
Scraped 648 listings so far
Scraped 672 listings so far
Scraped 696 listings so far
Scraped 720 listings so far
Scraped 744 listings so far
Scraped 768 listings so far
Scraped 792 listings so far
Scraped 816 listings so far
Scraped 840 listings so far
Scraped 864 listings so far
Scraped 888 listings so far
Scraped 912 listings so far
Scraped 936 listings so far
Scraped 960 listings so far
Scraped 984 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far
Scraped 1008 listings so far

In [4]:
# Convert to df
df = pd.DataFrame({
    "address" : addresses,
    "price" : prices,
    "description" : descriptions,
    "bedrooms": bedrooms,
    "bathrooms": bathrooms
})

print(df.tail())

                                        address       price  \
1003             Wandsworth Bridge Road, Fulham  Â£1,699 pcm
1004  One Park Drive, Canary Wharf, London, E14  Â£3,800 pcm
1005     Kensington High Street, Kensington, W8  Â£1,777 pcm
1006               Ansleigh Place, Notting Hill  Â£8,996 pcm
1007                Cleveland Square, Bayswater  Â£3,792 pcm

                                            description bedrooms bathrooms
1003  A one double bedroom top floor flat set on Wan...        1         1
1004  ** Available Now ** Experience luxury living i...        1         1
1005  ** Landlord pay for the gas central heating/ho...        0         1
1006  A spectacular three-bedroom architect designed...        3         3
1007  A modern and well presented top floor two bedr...        2         2

In [5]:
# Remove duplicates
print(df.shape)
# Find and remove duplicates based on all columns
df.drop_duplicates(inplace=True)

# If you want to check for duplicates based on specific columns (e.g., 'address' and 'postcode'):
# df.drop_duplicates(subset=['address', 'postcode'], inplace=True)

# Reset index after dropping duplicates (optional)
df.reset_index(drop=True, inplace=True)

# Print final DataFrame to verify
print(df.shape)

(1008, 5)
(996, 5)

In [ ]:
# Replace empty bathroom trings with null
df = df.replace({"bathrooms": {"": np.nan}})

# Replacing NaN with 1 as they are mostly studios
df['bathrooms'] = df['bathrooms'].fillna(0)

# Replacing 0 bedrooms with 1 again, most likely studio
df['bedrooms'] = df['bedrooms'].replace(0, 1)

# Now check for NaNs
print(df[df['bathrooms'] == 0])

Empty DataFrame
Columns: [address, price, description, bedrooms, bathrooms]
Index: []

In [7]:
# Clean address
df['address'] = df['address'].str.replace("\n", "", regex=False)

In [8]:
API_KEY = "AIzaSyDYyfbNSjyEdJUCNj2nam5R5OznHE31wXI"
def get_coordinates(address):
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    params = {
        "address": address,
        "key": API_KEY
    }

    response = requests.get(base_url, params = params)
    data = response.json()

    if data["status"] == "OK":
        # Extract latitude and longitude from the response
        latitude = data["results"][0]["geometry"]["location"]["lat"]
        longitude = data["results"][0]["geometry"]["location"]["lng"]
        return latitude, longitude
    else:
        return None, None 
    
# Apply the function to fetch latitude and longitude for each address
df[['latitude', 'longitude']] = df['address'].apply(lambda x: pd.Series(get_coordinates(x)))

# Print updated DataFrame
print(df['latitude'].head())

0    51.518926
1    51.359806
2    51.564169
3    51.529622
4    51.429787
Name: latitude, dtype: float64

In [9]:
# Identify rows where 'postcode' is NaN
null_coordinates = df[df['latitude'].isna()]

# Drop these rows correctly using their index
df.drop(index=null_coordinates.index, inplace=True)

# Reset index after dropping (optional)
df.reset_index(drop=True, inplace=True)

In [10]:
def extract_and_remove_postcode(address):
    # Regex to match full and outgoing postcodes, case-insensitive, allowing for no space before/after
    postcode_regex = r'\s?\b[A-Z]{1,2}\d+[A-Z]?\b\s?'

    # Search for the postcode in the address (case-insensitive)
    postcode_match = re.search(postcode_regex, address.strip().upper())
    
    if postcode_match:
        postcode = postcode_match.group().strip()  # Extract the postcode and remove surrounding spaces
        # Remove the postcode from the address
        address = re.sub(postcode_regex, '', address).strip()  # Remove postcode from address
        return postcode, address
    else:
        return None, address
    
# Apply the function to extract postcode and remove it from address
df[['postcode', 'address']] = df['address'].apply(lambda x: pd.Series(extract_and_remove_postcode(x)))

# Print updated DataFrame
print(df)

                                   address       price  \
0             Merchant Square, Paddington,  Â£9,966 pcm
1                     Grove Avenue, Sutton  Â£1,675 pcm
2          Wilberforce Road, Finsbury Park  Â£2,500 pcm
3             Strathmore Court, Park Road,  Â£8,790 pcm
4                     Graveney Road London  Â£2,650 pcm
..                                     ...         ...
981         Wandsworth Bridge Road, Fulham  Â£1,699 pcm
982  One Park Drive, Canary Wharf, London,  Â£3,800 pcm
983    Kensington High Street, Kensington,  Â£1,777 pcm
984           Ansleigh Place, Notting Hill  Â£8,996 pcm
985            Cleveland Square, Bayswater  Â£3,792 pcm

                                           description bedrooms bathrooms  \
0    A stunning interior designed apartment with wa...        4         3
1    **AVAILABLE APRIL**Leaders are pleased to offe...        2         1
2    This rather beautiful first floor maisonette w...        2         1
3    Spacious six bedroom apartment set over 2553 s...        6         2
4    A spacious three double bedroom house offering...        3         1
..                                                 ...      ...       ...
981  A one double bedroom top floor flat set on Wan...        1         1
982  ** Available Now ** Experience luxury living i...        1         1
983  ** Landlord pay for the gas central heating/ho...        0         1
984  A spectacular three-bedroom architect designed...        3         3
985  A modern and well presented top floor two bedr...        2         2

      latitude  longitude postcode
0    51.518926  -0.173068       W2
1    51.359806  -0.201280     None
2    51.564169  -0.100908     None
3    51.529622  -0.167885      NW8
4    51.429787  -0.170103     SW17
..         ...        ...      ...
981  51.470039  -0.191022     None
982  51.502277  -0.015116      E14
983  51.499467  -0.197301       W8
984  51.511388  -0.216614     None
985  51.514251  -0.182495     None

[986 rows x 8 columns]

In [11]:
# Use google geocode api to extarct postcodes for address that don't contain one
API_KEY = "AIzaSyDYyfbNSjyEdJUCNj2nam5R5OznHE31wXI"

def get_postcode(address):
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    params = {
        "address": f"1 {address}, UK",
        "key": API_KEY
    }
    
    response = requests.get(base_url, params=params)
    data = response.json()

    
    if data["status"] == "OK":
        # Extract postcode from the results
        for result in data["results"]:
            for component in result["address_components"]:
                if "postal_code" in component["types"]:
                    return component["long_name"]

    print(f"No postcode found for {address}")  # Debugging statement
    return None 
    
# Loop through rows and fetch postcode for missing values
for index, row in df[df['postcode'].isna()].iterrows():
    address = row["address"]
    print(f"\nğŸ“ Processing row {index}: {address}")  # Print row being processed

    postcode = get_postcode(address)

    if postcode:
        df.at[index, "postcode"] = postcode
        print(f"âœ… Postcode updated in DataFrame: {postcode} for {address}")  # Confirmation message
    else:
        print(f"âš ï¸ Could not find postcode for {address}")  # Warning if postcode not found

# Identify rows where 'postcode' is NaN
null_postcode = df[df['postcode'].isna()]

# Drop these rows correctly using their index
df.drop(index=null_postcode.index, inplace=True)

# Reset index after dropping (optional)
df.reset_index(drop=True, inplace=True)

ğŸ“ Processing row 1: Grove Avenue, Sutton
âœ… Postcode updated in DataFrame: SM1 2DA for Grove Avenue, Sutton

ğŸ“ Processing row 2: Wilberforce Road, Finsbury Park
âœ… Postcode updated in DataFrame: N4 2SN for Wilberforce Road, Finsbury Park

ğŸ“ Processing row 9: Hill Street, Mayfair
âœ… Postcode updated in DataFrame: W1J for Hill Street, Mayfair

ğŸ“ Processing row 14: John Harrison Way, North Greenwich
âœ… Postcode updated in DataFrame: SE10 0BL for John Harrison Way, North Greenwich

ğŸ“ Processing row 21: Duke Street, London
âœ… Postcode updated in DataFrame: W1U 3EA for Duke Street, London

ğŸ“ Processing row 24: Queen's Gate Place, London
âœ… Postcode updated in DataFrame: SW7 5PE for Queen's Gate Place, London

ğŸ“ Processing row 25: Coxwell Boulevard, London
âœ… Postcode updated in DataFrame: NW9 4AB for Coxwell Boulevard, London

ğŸ“ Processing row 26: Harrowdene Gardens, Teddington
âœ… Postcode updated in DataFrame: TW11 0DH for Harrowdene Gardens, Teddington

ğŸ“ Processing row 29: Flat 10 16 - 18 Warwick Road
âœ… Postcode updated in DataFrame: B11 for Flat 10 16 - 18 Warwick Road

ğŸ“ Processing row 30: Hawksbury Heights - P2043S78
âœ… Postcode updated in DataFrame: SE17 1JX for Hawksbury Heights - P2043S78

ğŸ“ Processing row 31: Victoria Road, London
âœ… Postcode updated in DataFrame: W8 5AE for Victoria Road, London

ğŸ“ Processing row 42: L-001015, Battersea Power Station, Circus Road East
âœ… Postcode updated in DataFrame: SW11 8DD for L-001015, Battersea Power Station, Circus Road East

ğŸ“ Processing row 45: Victoria Road, London
âœ… Postcode updated in DataFrame: W8 5AE for Victoria Road, London

ğŸ“ Processing row 50: Everington Street, London
âœ… Postcode updated in DataFrame: W6 8DX for Everington Street, London

ğŸ“ Processing row 57: Park Road, Colliers Wood
âœ… Postcode updated in DataFrame: SW19 2HS for Park Road, Colliers Wood

ğŸ“ Processing row 62: Goldhurst Terrace, South Hampstead, London
âœ… Postcode updated in DataFrame: NW6 3HX for Goldhurst Terrace, South Hampstead, London

ğŸ“ Processing row 67: Winterfold Close, LONDON
âœ… Postcode updated in DataFrame: SW19 6LF for Winterfold Close, LONDON

ğŸ“ Processing row 70: Charles Clowes Walk, Nine Elms
âœ… Postcode updated in DataFrame: SW11 7AD for Charles Clowes Walk, Nine Elms

ğŸ“ Processing row 73: Elgin Avenue, Maida Vale
âœ… Postcode updated in DataFrame: W9 3PR for Elgin Avenue, Maida Vale

ğŸ“ Processing row 74: Castellain Road, Maida Vale
âœ… Postcode updated in DataFrame: W9 1EY for Castellain Road, Maida Vale

ğŸ“ Processing row 76: South Ealing Road, Ealing
âœ… Postcode updated in DataFrame: W5 4QT for South Ealing Road, Ealing

ğŸ“ Processing row 82: Circus Road East, Vauxhall
âœ… Postcode updated in DataFrame: SW11 8DQ for Circus Road East, Vauxhall

ğŸ“ Processing row 85: Autumn Drive
No postcode found for Autumn Drive
âš ï¸ Could not find postcode for Autumn Drive

ğŸ“ Processing row 90: Hill Street, Mayfair
âœ… Postcode updated in DataFrame: W1J for Hill Street, Mayfair

ğŸ“ Processing row 95: Tulse Hill, Brixton
âœ… Postcode updated in DataFrame: SW2 2TH for Tulse Hill, Brixton

ğŸ“ Processing row 100: Central Road, MORDEN
âœ… Postcode updated in DataFrame: SM4 5PQ for Central Road, MORDEN

ğŸ“ Processing row 104: Huntington House, Prince of Wales Drive
âœ… Postcode updated in DataFrame: SW11 4EJ for Huntington House, Prince of Wales Drive

ğŸ“ Processing row 107: The Green, Chingford Green, London
âœ… Postcode updated in DataFrame: E4 7EX for The Green, Chingford Green, London

ğŸ“ Processing row 108: Court Close, St John's Wood Park
âœ… Postcode updated in DataFrame: NW8 6NN for Court Close, St John's Wood Park

ğŸ“ Processing row 111: Fernhead Road - Great Space and Very Bright
âœ… Postcode updated in DataFrame: W9 3EU for Fernhead Road - Great Space and Very Bright

ğŸ“ Processing row 114: Grove End Gardens, Grove End Road, London
âœ… Postcode updated in DataFrame: NW8 9LT for Grove End Gardens, Grove End Road, London

ğŸ“ Processing row 121: Battersea Park Road
âœ… Postcode updated in DataFrame: SW11 4ND for Battersea Park Road

ğŸ“ Processing row 122: Mitcham Lane
âœ… Postcode updated in DataFrame: SW16 6LG for Mitcham Lane

ğŸ“ Processing row 124: Tidworth Road, LONDON
âœ… Postcode updated in DataFrame: E3 4XH for Tidworth Road, LONDON

ğŸ“ Processing row 135: Old Compton Street, Soho
âœ… Postcode updated in DataFrame: W1D 5JA for Old Compton Street, Soho

ğŸ“ Processing row 155: Parsifal Road, West Hampstead, London
âœ… Postcode updated in DataFrame: NW6 1UG for Parsifal Road, West Hampstead, London

ğŸ“ Processing row 158: Molyneux Drive, Tooting
âœ… Postcode updated in DataFrame: SW17 6BA for Molyneux Drive, Tooting

ğŸ“ Processing row 163: Park Road, London
âœ… Postcode updated in DataFrame: N8 8TE for Park Road, London

ğŸ“ Processing row 171: Parsifal Road, West Hampstead, London
âœ… Postcode updated in DataFrame: NW6 1UG for Parsifal Road, West Hampstead, London

ğŸ“ Processing row 172: Hill Street, Mayfair
âœ… Postcode updated in DataFrame: W1J for Hill Street, Mayfair

ğŸ“ Processing row 174: Queen's Club Gardens, West Kensington
âœ… Postcode updated in DataFrame: W14 9TW for Queen's Club Gardens, West Kensington

ğŸ“ Processing row 175: Middleton Road, Dalston
âœ… Postcode updated in DataFrame: E8 4BL for Middleton Road, Dalston

ğŸ“ Processing row 176: Flat 2a George West House
âœ… Postcode updated in DataFrame: SW4 0QL for Flat 2a George West House

ğŸ“ Processing row 196: Newham Way, LONDON
âœ… Postcode updated in DataFrame: E16 1QX for Newham Way, LONDON

ğŸ“ Processing row 213: Park Road, London
âœ… Postcode updated in DataFrame: N8 8TE for Park Road, London

ğŸ“ Processing row 215: Wenham House, London
âœ… Postcode updated in DataFrame: SW8 4DZ for Wenham House, London

ğŸ“ Processing row 216: Tremadoc Road, Clapham
âœ… Postcode updated in DataFrame: SW4 7NF for Tremadoc Road, Clapham

ğŸ“ Processing row 219: Queens Road, London
âœ… Postcode updated in DataFrame: E17 8PY for Queens Road, London

ğŸ“ Processing row 223: Yunus Khan Close, Walthamstow, London
âœ… Postcode updated in DataFrame: E17 8XB for Yunus Khan Close, Walthamstow, London

ğŸ“ Processing row 227: Chiswick Village, Acton
âœ… Postcode updated in DataFrame: W4 3BY for Chiswick Village, Acton

ğŸ“ Processing row 228: Regency Court, South Woodford
âœ… Postcode updated in DataFrame: E18 2JT for Regency Court, South Woodford

ğŸ“ Processing row 229: Upper Courtyard, 44 West Street, CARSHALTON
âœ… Postcode updated in DataFrame: SM5 2PR for Upper Courtyard, 44 West Street, CARSHALTON

ğŸ“ Processing row 235: Charlton Church Lane, Charlton, London
âœ… Postcode updated in DataFrame: SE7 7AG for Charlton Church Lane, Charlton, London

ğŸ“ Processing row 236: Ensign House, Battersea Reach
âœ… Postcode updated in DataFrame: SW18 1TR for Ensign House, Battersea Reach

ğŸ“ Processing row 237: Garratt Lane Earlsfield London
âœ… Postcode updated in DataFrame: SW18 4DX for Garratt Lane Earlsfield London

ğŸ“ Processing row 245: Brent Street, London
âœ… Postcode updated in DataFrame: NW4 2PB for Brent Street, London

ğŸ“ Processing row 249: Grosvenor Road, Grosvenor Road
âœ… Postcode updated in DataFrame: L15 0EY for Grosvenor Road, Grosvenor Road

ğŸ“ Processing row 258: Knaresborough Place, London ,
âœ… Postcode updated in DataFrame: SW5 0TN for Knaresborough Place, London ,

ğŸ“ Processing row 262: Redcross Way, London Bridge
âœ… Postcode updated in DataFrame: SE1 for Redcross Way, London Bridge

ğŸ“ Processing row 263: Green Lane, London
âœ… Postcode updated in DataFrame: N16 9PX for Green Lane, London

ğŸ“ Processing row 265: Patmos Road, Vauxhall
âœ… Postcode updated in DataFrame: SW9 6SQ for Patmos Road, Vauxhall

ğŸ“ Processing row 267: Pages Lane, London
âœ… Postcode updated in DataFrame: N10 1PU for Pages Lane, London

ğŸ“ Processing row 268: Leyton Green Road, Leyton
âœ… Postcode updated in DataFrame: E10 6BA for Leyton Green Road, Leyton

ğŸ“ Processing row 274: Acton Lane, Chiswick
âœ… Postcode updated in DataFrame: W4 5NE for Acton Lane, Chiswick

ğŸ“ Processing row 275: Chiswick Village, Chiswick
âœ… Postcode updated in DataFrame: W4 3BY for Chiswick Village, Chiswick

ğŸ“ Processing row 277: Kew Bridge Road, Brentford
âœ… Postcode updated in DataFrame: TW8 for Kew Bridge Road, Brentford

ğŸ“ Processing row 278: Thurleigh Road London
âœ… Postcode updated in DataFrame: SW12 8UB for Thurleigh Road London

ğŸ“ Processing row 280: Battersea, Wandsworth
âœ… Postcode updated in DataFrame: SW11 3RZ for Battersea, Wandsworth

ğŸ“ Processing row 282: Godwin House, One Tower Bridge, London
âœ… Postcode updated in DataFrame: SE1 2RA for Godwin House, One Tower Bridge, London

ğŸ“ Processing row 284: Effra Parade, LONDON
âœ… Postcode updated in DataFrame: SW2 1PS for Effra Parade, LONDON

ğŸ“ Processing row 287: Abbey Road, St John's Wood
âœ… Postcode updated in DataFrame: NW8 9AY for Abbey Road, St John's Wood

ğŸ“ Processing row 300: Treen Avenue, LONDON
âœ… Postcode updated in DataFrame: SW13 0JR for Treen Avenue, LONDON

ğŸ“ Processing row 301: Woodfield Road, Ealing
âœ… Postcode updated in DataFrame: W5 1SL for Woodfield Road, Ealing

ğŸ“ Processing row 304: Newcastle House, Luxborough Street
âœ… Postcode updated in DataFrame: W1U 5BR for Newcastle House, Luxborough Street

ğŸ“ Processing row 308: Glengall Road, London
âœ… Postcode updated in DataFrame: NW6 for Glengall Road, London

ğŸ“ Processing row 328: Beaufort Court, Maygrove Road, London
âœ… Postcode updated in DataFrame: NW6 for Beaufort Court, Maygrove Road, London

ğŸ“ Processing row 338: Thane Villas, Finsbury Park, London
âœ… Postcode updated in DataFrame: N7 7PH for Thane Villas, Finsbury Park, London

ğŸ“ Processing row 343: Watford Way, London
âœ… Postcode updated in DataFrame: NW4 3JS for Watford Way, London

ğŸ“ Processing row 350: Palm House, Sancroft Street, Vauxhall, London
âœ… Postcode updated in DataFrame: SE11 5AH for Palm House, Sancroft Street, Vauxhall, London

ğŸ“ Processing row 351: Thane Villas, Finsbury Park, London
âœ… Postcode updated in DataFrame: N7 7PH for Thane Villas, Finsbury Park, London

ğŸ“ Processing row 366: St Augustines road, Camden
âœ… Postcode updated in DataFrame: NW1 for St Augustines road, Camden

ğŸ“ Processing row 376: Bedford Hill, Balham
âœ… Postcode updated in DataFrame: SW12 9HW for Bedford Hill, Balham

ğŸ“ Processing row 387: Burnley Road, London
âœ… Postcode updated in DataFrame: NW10 1DY for Burnley Road, London

ğŸ“ Processing row 392: Regency Court, South Woodford
âœ… Postcode updated in DataFrame: E18 2JT for Regency Court, South Woodford

ğŸ“ Processing row 396: Dudley Gardens, Northfields
âœ… Postcode updated in DataFrame: W13 9LU for Dudley Gardens, Northfields

ğŸ“ Processing row 397: Cowper Road, Hanwell
âœ… Postcode updated in DataFrame: W7 1EL for Cowper Road, Hanwell

ğŸ“ Processing row 398: Kelvin Drive
âœ… Postcode updated in DataFrame: G20 8PA for Kelvin Drive

ğŸ“ Processing row 401: Addington Lofts, 1a Bethwin Road, London
âœ… Postcode updated in DataFrame: SE5 0SJ for Addington Lofts, 1a Bethwin Road, London

ğŸ“ Processing row 405: Ross Road, LONDON
âœ… Postcode updated in DataFrame: SE25 6SE for Ross Road, LONDON

ğŸ“ Processing row 408: Ross Road, LONDON
âœ… Postcode updated in DataFrame: SE25 6SE for Ross Road, LONDON

ğŸ“ Processing row 422: Amhurst Gardens
âœ… Postcode updated in DataFrame: TW7 6AN for Amhurst Gardens

ğŸ“ Processing row 432: Merino Gardens, London
âœ… Postcode updated in DataFrame: E1W 2DF for Merino Gardens, London

ğŸ“ Processing row 437: Glanville Road, London
âœ… Postcode updated in DataFrame: SW2 5DE for Glanville Road, London

ğŸ“ Processing row 441: Walpole Gardens, Chiswick
âœ… Postcode updated in DataFrame: W4 4HG for Walpole Gardens, Chiswick

ğŸ“ Processing row 449: Templars Avenue, London
âœ… Postcode updated in DataFrame: NW11 0NX for Templars Avenue, London

ğŸ“ Processing row 452: Blaydon Close, London
âœ… Postcode updated in DataFrame: HA4 8AD for Blaydon Close, London

ğŸ“ Processing row 455: Hill Street, Richmond
âœ… Postcode updated in DataFrame: TW9 1SX for Hill Street, Richmond

ğŸ“ Processing row 460: Hornsey Road, London
âœ… Postcode updated in DataFrame: N7 7AT for Hornsey Road, London

ğŸ“ Processing row 461: Mount Pleasant Road, Haringey
âœ… Postcode updated in DataFrame: N15 4JN for Mount Pleasant Road, Haringey

ğŸ“ Processing row 464: Richmond Road, Kingston upon Thames
âœ… Postcode updated in DataFrame: KT2 5DB for Richmond Road, Kingston upon Thames

ğŸ“ Processing row 466: North End Road, West Kensington
âœ… Postcode updated in DataFrame: W14 8ST for North End Road, West Kensington

ğŸ“ Processing row 468: Kender Street, Telagragh Hill
âœ… Postcode updated in DataFrame: SE14 5JE for Kender Street, Telagragh Hill

ğŸ“ Processing row 474: Park Central West
No postcode found for Park Central West
âš ï¸ Could not find postcode for Park Central West

ğŸ“ Processing row 478: D'oyley Street, London
âœ… Postcode updated in DataFrame: SW1X 9AQ for D'oyley Street, London

ğŸ“ Processing row 506: Ranelagh House, Elystan Place, London
âœ… Postcode updated in DataFrame: SW3 3LA for Ranelagh House, Elystan Place, London

ğŸ“ Processing row 509: Felix Point,  Epstein Square, London
âœ… Postcode updated in DataFrame: E14 6FX for Felix Point,  Epstein Square, London

ğŸ“ Processing row 519: Ivor Court, Gloucester Place, London
âœ… Postcode updated in DataFrame: NW1 for Ivor Court, Gloucester Place, London

ğŸ“ Processing row 520: Princes Gardens, West Acton, London
âœ… Postcode updated in DataFrame: W3 0LY for Princes Gardens, West Acton, London

ğŸ“ Processing row 528: Westmorland Close, Aldersbrook
âœ… Postcode updated in DataFrame: E12 5HS for Westmorland Close, Aldersbrook

ğŸ“ Processing row 546: Sheringham Avenue, London
âœ… Postcode updated in DataFrame: E12 5PB for Sheringham Avenue, London

ğŸ“ Processing row 547: Harp Island Close, London
âœ… Postcode updated in DataFrame: NW10 0DD for Harp Island Close, London

ğŸ“ Processing row 552: Eloise House,  Portland Road, Norwood Junction
âœ… Postcode updated in DataFrame: SE25 4UF for Eloise House,  Portland Road, Norwood Junction

ğŸ“ Processing row 623: Queenstown Road, Queenstown Road
âœ… Postcode updated in DataFrame: SW8 3QE for Queenstown Road, Queenstown Road

ğŸ“ Processing row 627: Burnaby Street, London
âœ… Postcode updated in DataFrame: SW10 0PR for Burnaby Street, London

ğŸ“ Processing row 628: Chamberlayne Road, London
âœ… Postcode updated in DataFrame: NW10 3NA for Chamberlayne Road, London

ğŸ“ Processing row 634: Regents Bridge Gardens, Vauxhall
âœ… Postcode updated in DataFrame: SW8 1JP for Regents Bridge Gardens, Vauxhall

ğŸ“ Processing row 636: Thurleston Avenue, Morden Park
âœ… Postcode updated in DataFrame: SM4 4BN for Thurleston Avenue, Morden Park

ğŸ“ Processing row 637: Kendal Street, London
âœ… Postcode updated in DataFrame: W2 2YE for Kendal Street, London

ğŸ“ Processing row 642: Garratt Lane, Earlsfield
âœ… Postcode updated in DataFrame: SW18 4DX for Garratt Lane, Earlsfield

ğŸ“ Processing row 645: Thurloe Street, London
âœ… Postcode updated in DataFrame: SW7 2SS for Thurloe Street, London

ğŸ“ Processing row 646: Gideon Road, Gideon Road
âœ… Postcode updated in DataFrame: SW11 5UA for Gideon Road, Gideon Road

ğŸ“ Processing row 647: Uxbridge Road, Ealing
âœ… Postcode updated in DataFrame: W5 3NU for Uxbridge Road, Ealing

ğŸ“ Processing row 666: Churchwood Gardens, Forest Hill
âœ… Postcode updated in DataFrame: SE23 3BF for Churchwood Gardens, Forest Hill

ğŸ“ Processing row 674: Churchwood Gardens, Forest Hill
âœ… Postcode updated in DataFrame: SE23 3BF for Churchwood Gardens, Forest Hill

ğŸ“ Processing row 675: Hazlewood Crescent, North Kensington
âœ… Postcode updated in DataFrame: W10 for Hazlewood Crescent, North Kensington

ğŸ“ Processing row 676: Southern Row, North Kensington
âœ… Postcode updated in DataFrame: W10 5EG for Southern Row, North Kensington

ğŸ“ Processing row 677: Golborne Road, Notting Hill
âœ… Postcode updated in DataFrame: W10 5PN for Golborne Road, Notting Hill

ğŸ“ Processing row 678: Sutherland Avenue, Westminster City
âœ… Postcode updated in DataFrame: W9 2HE for Sutherland Avenue, Westminster City

ğŸ“ Processing row 690: Hampton Road, Twickenham
âœ… Postcode updated in DataFrame: TW2 5QE for Hampton Road, Twickenham

ğŸ“ Processing row 693: Queen Street, Mayfair
âœ… Postcode updated in DataFrame: W1J 5HL for Queen Street, Mayfair

ğŸ“ Processing row 694: City North Place, London
âœ… Postcode updated in DataFrame: N4 for City North Place, London

ğŸ“ Processing row 696: HEYFORD AVENUE, VAUXHALL
âœ… Postcode updated in DataFrame: SW8 1EA for HEYFORD AVENUE, VAUXHALL

ğŸ“ Processing row 697: ALPHABET MEWS, OVAL
âœ… Postcode updated in DataFrame: SW9 0FN for ALPHABET MEWS, OVAL

ğŸ“ Processing row 698: Wakeman Road, London
âœ… Postcode updated in DataFrame: NW10 5BJ for Wakeman Road, London

ğŸ“ Processing row 700: Alexandra Road, London
âœ… Postcode updated in DataFrame: N10 1DY for Alexandra Road, London

ğŸ“ Processing row 705: Grosvenor Road, Grosvenor Road
âœ… Postcode updated in DataFrame: L15 0EY for Grosvenor Road, Grosvenor Road

ğŸ“ Processing row 706: Lower Clapton Road, Hackney
âœ… Postcode updated in DataFrame: E5 0NS for Lower Clapton Road, Hackney

ğŸ“ Processing row 707: Manuka Heights
âœ… Postcode updated in DataFrame: E20 1GH for Manuka Heights

ğŸ“ Processing row 708: Rookstone Road, Tooting
âœ… Postcode updated in DataFrame: SW17 9NQ for Rookstone Road, Tooting

ğŸ“ Processing row 712: Cephas Avenue, London
âœ… Postcode updated in DataFrame: E1 4BQ for Cephas Avenue, London

ğŸ“ Processing row 713: Cephas Avenue, London
âœ… Postcode updated in DataFrame: E1 4BQ for Cephas Avenue, London

ğŸ“ Processing row 728: Wilkinson Close, London
âœ… Postcode updated in DataFrame: NW2 6GP for Wilkinson Close, London

ğŸ“ Processing row 782: Thornbury Way, LONDON
âœ… Postcode updated in DataFrame: E17 5FR for Thornbury Way, LONDON

ğŸ“ Processing row 787: Manilla Street, Canary Wharf
âœ… Postcode updated in DataFrame: E14 8JZ for Manilla Street, Canary Wharf

ğŸ“ Processing row 789: Cheniston Gardens, Kensington
âœ… Postcode updated in DataFrame: W8 6TQ for Cheniston Gardens, Kensington

ğŸ“ Processing row 790: 60 Stamford Road, Tottenham
âœ… Postcode updated in DataFrame: N15 4PZ for 60 Stamford Road, Tottenham

ğŸ“ Processing row 793: Sloane Avenue Mansions, Sloane Avenue, London
âœ… Postcode updated in DataFrame: SW3 3JG for Sloane Avenue Mansions, Sloane Avenue, London

ğŸ“ Processing row 798: Cranwood Court, Vince Street
âœ… Postcode updated in DataFrame: EC1V 9EY for Cranwood Court, Vince Street

ğŸ“ Processing row 804: Rudloe Road, Balham
âœ… Postcode updated in DataFrame: SW12 0DR for Rudloe Road, Balham

ğŸ“ Processing row 812: Wallingford Avenue, London
âœ… Postcode updated in DataFrame: W10 6QA for Wallingford Avenue, London

ğŸ“ Processing row 820: Lavender Hill
No postcode found for Lavender Hill
âš ï¸ Could not find postcode for Lavender Hill

ğŸ“ Processing row 821: Church Lane, Tooting Bec
âœ… Postcode updated in DataFrame: SW17 for Church Lane, Tooting Bec

ğŸ“ Processing row 824: Westport Street, London
âœ… Postcode updated in DataFrame: E1 0RA for Westport Street, London

ğŸ“ Processing row 829: Ladbroke Crescent, Notting Hill, London
âœ… Postcode updated in DataFrame: W11 1PS for Ladbroke Crescent, Notting Hill, London

ğŸ“ Processing row 832: Chesterfield Hill, Mayfair
âœ… Postcode updated in DataFrame: W1J 5BH for Chesterfield Hill, Mayfair

ğŸ“ Processing row 833: Kings Road, Cheslea, London
âœ… Postcode updated in DataFrame: SW19 8PL for Kings Road, Cheslea, London

ğŸ“ Processing row 837: Vousden Grove, West Thamesmead
âœ… Postcode updated in DataFrame: SE28 for Vousden Grove, West Thamesmead

ğŸ“ Processing row 839: Denmark Hill, London
âœ… Postcode updated in DataFrame: SE5 8EA for Denmark Hill, London


In [12]:
# Cleaning address column
def clean_address(address):
    address = address.strip()
    address = address.rstrip(",")
    address = address.replace(":", "")
    return address

df['address'] = df['address'].apply(clean_address)

def clean_price(price):
    return int(price.replace('Â£', '').replace(',', '').split()[0])  # Remove Â£, commas, and take only the number part

# Apply to the column
df['price'] = df['price'].apply(clean_price)

print(df.head(30))
print(df.dtypes)

                                           address  price  \
0                      Merchant Square, Paddington   9966
1                             Grove Avenue, Sutton   1675
2                  Wilberforce Road, Finsbury Park   2500
3                      Strathmore Court, Park Road   8790
4                             Graveney Road London   2650
5        Moluccas Point, 24 Canal Approach, London   2200
6       Strathmore Court, Park Road, St Johns Wood  10500
7                                             Oval   4000
8                             Fountain Road London   2650
9                             Hill Street, Mayfair   3727
10          Penthouse, Strathmore Court, Park Road  10030
11  Streatleigh Court, Streatham High Road, London   3500
12      Strathmore Court, Park Road, St Johns Wood   6990
13                            Upper Street, London   2150
14              John Harrison Way, North Greenwich   1700
15                   Southwark Bridge Road, London   2650
16        Jacquard Apartments, Wandsworth Exchange   3800
17               Montreal House, Surrey Quays Road   2167
18                   Baileys House, Nine Elms Lane   2695
19                                       Park Road   4300
20                 Artisi,181 King St, Hammersmith   3600
21                             Duke Street, London  25560
22                Barry Road, East Dulwich, London   2100
23                                    Ashmore Road   2500
24                      Queen's Gate Place, London   3467
25                       Coxwell Boulevard, London   2400
26                  Harrowdene Gardens, Teddington   1600
27               Ossel Court, Greenwich, Greenwich   2650
28                     Fairfield Drive, Wandsworth   2600
29                    Flat 10 16 - 18 Warwick Road   1495

                                          description bedrooms bathrooms  \
0   A stunning interior designed apartment with wa...        4         3
1   **AVAILABLE APRIL**Leaders are pleased to offe...        2         1
2   This rather beautiful first floor maisonette w...        2         1
3   Spacious six bedroom apartment set over 2553 s...        6         2
4   A spacious three double bedroom house offering...        3         1
5   Key features Brand New DevelopmentFully Furnis...        2         0
6   A newly refurbished four bedroom apartment loc...        4         3
7   FAMILIES ONLY - Beautiful four bedroom family ...        4         3
8   A spacious three double bedroom house is close...        3         1
9   Bright and spacious 1 bedroom third floor apar...        1         1
10  A superb sixth-floor penthouse apartment locat...        4         4
11  SHORT LET. A fantastic three double bedroom ap...        3         1
12  ***Pet Friendly*** Spacious three bedroom apar...        3         2
13  Spacious, bright and centrally located apartme...        1         1
14  A stylish, one bedroom, fourth floor apartment...        1         1
15  Positioned on the 5th floor, the top floor, fa...        2         2
16  Metra Living are proud to present a modern, th...        3         2
17  A bright and spacious one bedroom apartment lo...        1         1
18  Metra Living are proud to present this superb ...        2         2
19  We are pleased to offer this 916 sq ft, second...        2         1
20  Regent are excited to offer this brand new two...        2         2
21  Discover luxury living in this stunning three-...        3         3
22  A fantastic Two double bedroom flat with addit...        2         1
23  Bright and airy apartment located on the top f...        2         2
24  A Bright & spacious one bedroom flat on the gr...        1         1
25  This beautifully presented two-bedroom, second...        2         2
26  Presented in excellent condition throughout, t...        1         1
27  A well-presented two-bedroom furnished apartme...        2         2
28  Well proportioned three bedroom ground floor f...        3         1
29  base rent: Â£1495, deposit: Â£1725, number of be...        0         1

     latitude   longitude  postcode
0   51.518926   -0.173068        W2
1   51.359806   -0.201280   SM1 2DA
2   51.564169   -0.100908    N4 2SN
3   51.529622   -0.167885       NW8
4   51.429787   -0.170103      SW17
5   51.507218   -0.127586       SE8
6   51.529622   -0.167885       NW8
7   51.467664   -0.111376       SW9
8   51.428370   -0.176447      SW17
9   51.508694   -0.148471       W1J
10  51.529726   -0.167840       NW8
11  51.437615   -0.126656      SW16
12  51.529622   -0.167885       NW8
13  51.539557   -0.102456        N1
14  51.494832    0.012254  SE10 0BL
15  51.502828   -0.096497       SE1
16  51.455979   -0.191748      SW18
17  51.498517   -0.048966      SE16
18  51.480786   -0.132889      SW11
19  51.526815   -0.163494       NW8
20  51.492603   -0.233105        W6
21  51.514346   -0.151418   W1U 3EA
22  51.454684   -0.069206      SE22
23  51.528912   -0.202508        W9
24  51.496961   -0.180390   SW7 5PE
25  51.603978   -0.242123   NW9 4AB
26  51.420331   -0.325385  TW11 0DH
27  51.490687    0.004019      SE10
28  51.457780   -0.189397      SW18
29 -31.834633  115.760709       B11
address         object
price            int64
description     object
bedrooms        object
bathrooms       object
latitude       float64
longitude      float64
postcode        object
dtype: object

In [ ]:
# Create property id using hashing
def create_property_id(row):
    # Concatenate the relevant columns as a string
    concat_str = f"{row['latitude']}_{row['longitude']}_{row['price']}"
    # Hash the concatenated string using MD5 and return the hexadecimal digest
    return hashlib.md5(concat_str.encode()).hexdigest()

df['property_id'] = df.apply(create_property_id, axis=1)
print(df['property_id'])

# Property id has \r carriage making it awkward to join in sql, needs to be striped
df['property_id'] = df['property_id'].str.replace("\r", "", regex=True)

0      c03d82e0169b9646f9628c766a820a96
1      0eaca9c01a72e47b55656d34229fbbf1
2      0e91ce654b6fd59d84c47e7c66fcb6ad
3      6afcfb6a633839bcb514e31960abbe15
4      45112861947e9869c0cff0d2b041d13b
                     ...
977    340a452241e98c08eed32732da02181b
978    439595d7e8259e368b64d5cb06a3a60a
979    19cd1f1ec1bdcab9551e17b17768c270
980    f097356ceac5c44860af0dc4dee9f915
981    4e85d09779c4d6c9c6cebe5e50acfc17
Name: property_id, Length: 982, dtype: object

In [14]:
df.drop_duplicates(inplace=True)
print(df.shape)

(982, 9)

In [15]:
df.to_csv("london_flats.csv", index=False)